/storage/*
!/storage/.keep

/public/assets
.byebug_history

/config/master.key

/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

.DS_Store
.AppleDouble
.LSOverride

.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.rbc
capybara-*.html
.rspec
/public/system
/coverage/
/spec/tmp
*.orig
rerun.txt
pickle-email-*.html

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

config/initializers/secret_token.rb
config/master.key

.env

/.bundle
/vendor/bundle

.powenv

.byebug_history

node_modules/


/yarn-error.log
yarn-debug.log*
.yarn-integrity

/storage/*
!/storage/.keep

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.history

/config/credentials/development.key


/config/credentials/test.key
